<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capstone.greenfridge.repository.FridgeMapper">
    <insert id="saveIngredient" useGeneratedKeys="true" >
        insert into fridge(ingredient_id,ingredient_name,stored_at,duration_at)
        values (#{ingredientId},#{ingredientName},#{storedAt},#{durationAt})
    </insert>
</mapper>