<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capstone.greenfridge.repository.FridgeMapper">
    <insert id="saveIngredient" useGeneratedKeys="true" >
        insert into fridge(ingredient_id,ingredient_name,stored_at,duration_at)
        values (#{ingredientId},#{ingredientName},#{storedAt},#{durationAt})
    </insert>

    <delete id="deleteIngredient">
        delete
        from fridge
        where id=#{fridgeId}
    </delete>

    <delete id="deleteAfterEat" parameterType="List">
        delete
        from fridge
        where id= ANY(
        SELECT id
        FROM fridge
        WHERE (ingredient_name, duration_at) IN(
            SELECT ingredient_name, MIN(duration_at)
            FROM fridge
            GROUP BY ingredient_name
        ) AND ingredient_name IN
        <foreach collection="list" item='ateIngredient' open='(' close=')' separator=",">
            #{ateIngredient}
        </foreach>
        )
    </delete>


    <select id="getFridgeList" resultType="FridgeListVO">
        select fri.id as fridgeId, fri.ingredient_id, fri.ingredient_name, ingr.ingredient_img, fri.stored_at, fri.duration_at
        from fridge as fri left join ingredient as ingr
        on fri.ingredient_id = ingr.id
        order by duration_at
    </select>

</mapper>