<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capstone.greenfridge.repository.RecipeMapper">
    <select id="getRecipeList" resultType="Recipe">
        select id, recipe_name, recipe_img, ingredient_list, method
        from recipe
    </select>

    <select id="getRecipe" resultType="Recipe">
        select id, recipe_name, recipe_img, ingredient_list, method
        from recipe
        where id=#{recipeId}
    </select>

</mapper>